<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link  th:href="@{/css/main.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/action.js}"></script>
</head>
<body>

    <h1>Document</h1>
    <p>
        this is text on which we  want to apply <strong>very special</strong> styling
    </p>

    <button type="button" th:onclick="demo()">show Alert</button>
</body>
</html>