<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Latest compiled and minified CSS -->

    <link  th:href="@{/css/bootstrap.min.css}" rel="stylesheet">


</head>
<body>
    <div class="container">
        <div class="row">

            <h1>Employee</h1>
        
          
                <table class="table">
                    <thead>
                        <tr>
                            <th>User Name</th>
                            <th>User Email</th>
                            

                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user :${users}">
                            <td th:text="${user.userName}"></td>
                            <td th:text="${user.email}"></td>
                            <td>
                                <a class="btn btn-primary" th:if="${user.role}=='ADMIN'">update</a>
                                <a class="btn btn-danger" th:if="${user.role}=='ADMIN'">delete</a>
                                <a class="btn btn-primary" th:unless="${user.role}=='ADMIN'">view</a>

                            </td>

                        </tr>

                       
                    </tbody>
                </table>
            

        </div>
    </div>
</body>
</html>