<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Latest compiled and minified CSS -->

    <link  th:href="@{/css/bootstrap.min.css}" rel="stylesheet">


</head>
<body>
    <div class="container">
        <div class="row">

            <h1>Thymeleaf switch case demo</h1>
            
            <h4 th:utext="${user.userName}"></h4>
          
                <div th:switch="${user.role}">

                    <p th:case="'ADMIN'">User Administrator</p>
                    <p th:case="'MANAGER'">User MANAGER</p>
                    <p th:case="'GUEST'">User GUEST</p>

                    <p th:case="*">User is some other thing</p>


                </div>
        </div>
    </div>
</body>
</html>